# Python
__pycache__/
*.py[cod]
*.so

# Django
db.sqlite3
*.log

# Environments
.env
venv/
ENV/
env/
.venv/

# IDEs and editors
.vscode/
.vscode/.ropeproject/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# Static files 
staticfiles/
media/

# Migrations 
**/migrations/*.pyc
**/migrations/__pycache__/

# Testing
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Node.js 
node_modules/

# Others
*.bak
*.tmp
